body 
{
        background: #222222;
}

#text 
{
	background: #333333;
	border: solid;
	border-color: black;
	color: white;
}

#text #answercontainer 
{
	background: #999;
}
#text input.answer 
{
	background: #999;
}
#controls .stats div 
{
	color: white;
}
td 
{
	color: white;
}
h4 
{
	color: white;
}

#text #answercontainer input.answer[disabled], #text #answercontainer.true 
{
	background:  #999;
}


#answercontainer input.answer[disabled] 
{
	background:  #999;
}


